<!DOCTYPE html>
<html>
	<head>
		<title> Awesome Bookmarke </title>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript">
			var parseUrl = function() {
				jQuery.ajax({
					url: "http://techcrunch.com/2012/12/01/netflixs-amazon-cloud-addiction/",
  					beforeSend: function ( xhr ) {
    					xhr.overrideMimeType("text/plain; charset=x-user-defined");
  					},
  					success: function(xhr,data){
  						data = data.getElementById(".left-container");
  						document.getElementById("data").innerHTML = data.replace(/<[^>]*>/g, "");
  					},
  					dataType: "html"
				});
			}
		</script>
	</head>

	<body>
		<form>
		URL:<input type="text" size="20">
		<input type="button" name="Submit" onclick="parseUrl()">
		</form>
		<br>
		<div id="data">

		</div>
	</body>
</html>